@import "tailwindcss";

@import "yet-another-react-lightbox/styles.css";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);

  --ease-premium: cubic-bezier(0.65, 0, 0.35, 1);
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #ffffff;
  --accent: #333333;
}

@layer base {

  html,
  body {
    @apply max-w-[100vw] overflow-x-hidden bg-background text-foreground antialiased;
    font-family: 'Arial', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }
}

/* Lenis Support */

body{
  font-family: var(--font-montserrat), sans-serif;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

    .floor-swiper .swiper-slide .image{
          background-color: #ffffff5f;
          transform: scale(0.5);
          opacity: 0.5;
          transition: all 0.3s ease;
        }

        .floor-swiper .swiper-slide-active {
          transform: scale(1);
          opacity: 1;
        }

        .floor-swiper .swiper-slide-active .image{
          background-color: white;
          transform: scale(1);
          opacity: 1;
          transition: all 0.3s ease;
        }